.vscode/
.idea/
*.pyc
*.log
*.bin
/saved/
*.lprof
*.egg-info/
*/build/
/build/
/dist/
/generated/
/log/
/saved/
/dataset/
/pretrained_model/
run_test.py
/files2rouge/
/textbox/tests/
*.json
facebook/
/gpt2/
/t5*/
.env
/wandb/
*.swp
test/
textbox/evaluator/test_evaluator.py
transformers/
