numpy
tqdm
nltk==3.5
pyyaml
sentencepiece
pycocoevalcap
rouge-score>=0.1.2
sacrebleu>=2.0.0
bert_score
tensorboard
future
typing
wandb
setuptools
six
accelerate
hyperopt
fast-bleu
git+https://github.com/microsoft/fastseq.git
git+https://github.com/RUCAIBox/transformers.git