numpy
matplotlib
fast-bleu
transformers
tqdm
nltk
pyyaml
sentencepiece
pycocoevalcap
rouge-score>=0.1.2
sacrebleu>=2.0.0
torch
bert_score
tensorboard
future
typing
pandas
wandb
setuptools
six
accelerate
hyperopt
